header {
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.registration {
    background-color: #ebeb0c;
    border-radius: 4px;
}

.consulter {
    font-size: 14px;
}


